@import url(../fontawesome/css/font-awesome.css);
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media (min-width: 1200px) {
  /* line 5, ../sass/main.scss */
  .container {
    max-width: 970px;
  }
}
/* line 9, ../sass/main.scss */
.logo-text {
  color: #999;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 9px;
}

/* line 10, ../sass/main.scss */
.content-banner.jumbotron {
  padding: 48px 0 53px;
}
/* line 13, ../sass/main.scss */
.content-banner.jumbotron h1 {
  font-weight: 700;
  margin-top: 19px;
  margin-bottom: 5px;
}

/* line 20, ../sass/main.scss */
.marketing .column-one h2 {
  font-weight: 700;
  margin-top: 23px;
  margin-bottom: 9px;
}
/* line 23, ../sass/main.scss */
.marketing .column-one h2:before {
  content: "\f058";
  font: normal normal normal 30px/1 FontAwesome;
  color: #3a87ad;
  padding-right: 5px;
}
/* line 30, ../sass/main.scss */
.marketing .column-one p {
  color: #333;
  line-height: 20px;
  margin-bottom: 16px;
}
/* line 36, ../sass/main.scss */
.marketing .column-one .more {
  padding: 7px 12px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #333;
  text-decoration: none;
}
/* line 46, ../sass/main.scss */
.marketing .column-one .more:after {
  content: "\f101";
  font: normal normal normal 12px/1 FontAwesome;
  padding-left: 5px;
}
/* line 56, ../sass/main.scss */
.marketing .form-horizontal .form-group {
  margin-bottom: 6px;
}
/* line 59, ../sass/main.scss */
.marketing .form-horizontal .form-group .form-name {
  margin: 6px 0 10px;
}
/* line 60, ../sass/main.scss */
.marketing .form-horizontal .form-group h5 {
  color: #333;
  font-weight: 700;
}
/* line 61, ../sass/main.scss */
.marketing .form-horizontal .form-group .lname {
  font-weight: 600;
  color: #999;
}
/* line 62, ../sass/main.scss */
.marketing .form-horizontal .form-group span {
  color: #777;
  margin-top: 4px;
  display: inline-block;
}
